<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header'); -%>
</head>

<body>
    <form action="/login/manager" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Manager Login</button>
    </form>
</body>
