<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/public/js/initialize-buttons.js"></script>
</head>

<body>
    <button id="manager">Database Manager Login</button>
    <button id="instructor">Instructor Login</button>
    <button id="student">Student Login</button>
</body>

<script>
    initializeButtons("login");
</script>
