<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
</head>

<body>
    <form action="/manager/add-student" method="POST" autocomplete="off">
        <label for="username">Student Username:</label><br>
        <input type="text" name="username" required><br>
        <label for="password">Student Password:</label><br>
        <input type="text" name="password" required><br>
        <label for="name">Student Name:</label><br>
        <input type="text" name="name" required><br>
        <label for="surname">Student Surname:</label><br>
        <input type="text" name="surname" required><br>
        <label for="email">Student E-mail:</label><br>
        <input type="text" name="email" required><br>
        <label for="department">Student Department ID:</label><br>
        <input type="text" name="department" required><br>
        <button type="submit">Add Student</button>
    </form>
</body>
</html>
