<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
</head>

<body>
    <form action="/manager/add-student" method="POST">
        <input type="text" name="username" placeholder="Student Username" required>
        <input type="text" name="password" placeholder="Student Password" required>
        <input type="text" name="name" placeholder="Student Name" required>
        <input type="text" name="surname" placeholder="Student Surname" required>
        <input type="text" name="email" placeholder="Student E-mail" required>
        <input type="text" name="department" placeholder="Student Department ID" required>
        <button type="submit">Add Student</button>
    </form>
</body>
