<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <link rel="stylesheet" href="/css/table.css">
</head>

<body>
    <% if(!averageGrade){ %>
        <form action="/manager/view-course-grade" method="POST" autocomplete="off">
            <label for="id">Course ID:</label><br>
            <input type="text" name="id" required><br>
            <button type="submit">View Course Average Grade</button>
        </form>
      <% } else{ %>
        <table>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Average Grade</th>
            </tr>
            <tr>
                <td><%= averageGrade.course_id %></td>
                <td><%= averageGrade.name %></td>
                <td><%= averageGrade.average %></td>
            </tr>
          </table>
     <% } %>
</body>
