<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/js/initialize-buttons.js"></script>
</head>

<body>
    <button id="view-available-classroom">View Available Classroom</button>
    <button id="add-course">Add Course</button>
    <button id="add-prerequisite">Add Prerequisite</button>
    <button id="view-courses">View All Courses</button>
    <button id="view-enrolled-students">View Enrolled Students</button>
    <button id="update-course-name">Update Course Name</button>
    <button id="give-grade">Give Grade</button>
    <button id="logout">Logout</button>
</body>

<script>
    initializeButtons("instructor");
</script>
</html>
