<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <link rel="stylesheet" href="/css/table.css">
</head>

<body> 
    <% if(classrooms.length == 0){ %>
        <body>No available classroom!</body>
    <% } else { %>  
        <table>
            <tr>
            <th>Classroom ID</th>
            <th>Campus</th>
            <th>Capacity</th>
            </tr>
            <% for (var i = 0; i < classrooms.length; i++) { %>
                <tr>
                    <td><%= classrooms[i].classroom_id %></td>
                    <td><%= classrooms[i].campus %></td>
                    <td><%= classrooms[i].capacity%></td>
                </tr>
            <% } %>
        </table>
    <% } %>
</body>
</html>
