<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/js/initialize-buttons.js"></script>
</head>

<body>
    <button id="list-courses">List All Courses</button>
    <button id="add-course">Add Course</button>
    <button id="view-enrolled-courses">View Enrolled Courses</button>
    <button id="search-course">Search Course</button>
    <button id="filter-course">Filter Course</button>
    <button id="logout">Logout</button>
</body>

<script>
    initializeButtons("student");
</script>
</html>
