<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/js/initialize-buttons.js"></script>
</head>

<body>
    <button id="add-course">Add Course</button>
</body>

<script>
    initializeButtons("student");
</script>
